
.contenedorSearch{
}
.title{
    text-align: center;
    margin-top: 100px;    
}
.contenedorBuscador{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    background: rgb(16, 40, 106);
    width: 25%;
    border: 0;
    padding: 10px;
    margin-left: 10px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}
input::placeholder {
    color: white;
}
.opciones{
    text-align: center;
    position: absolute;
    width: 100%;
}
.paisOpcion{
    background: white;
    border: 1px solid black;
    padding: 10px 10px 5px 2px;
    width: 25%;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background: rgb(206, 234, 255);
        transition: .3s;
    }
}

@media screen and (max-width: 800px) {
    input{
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    input{
        width: 85%;
    }
}